NEXTAUTH_URL=https://vtebot.xyz
NEXTAUTH_SECRET=6gwDCfylvMRAHjjjIjRXkWFlVnpgga2++gHugqiJ634=

DISCORD_CLIENT_ID=1516645906009690272
DISCORD_CLIENT_SECRET=luH8kyvjYFSzJLHNYJwUDU8jtBNo_9gW

DATABASE_URL=postgresql://neondb_owner:npg_YBvjAJQCV06T@ep-wispy-cell-ahnchivt-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=
